<!DOCTYPE html>


<html>
<head>
	<link rel="stylesheet" type="text/css" href="/resources/style.css">
	<script src="resources/money.js"></script>
	<title>{{ title }}</title>
</head>


<title>{{ title }}</title>
<body>

{{content}}
<h1><u>Getting Stared</u></h1>
<!-- {{ content }} -->
<form method="POST">
	<input name = "form_user">
		<div id=gettingStarted>
			<p>1.How much does the item cost?</p>
			<input name=a type="text">
			<p>2. How long do you plan on saving up for the intended item.</p>
			<input name=b type="text">
			<p>3. On estimate, how much money do you make each month, and how much of that do you spend?</p>
			<input name=c type="text">
			<p>4. How much money do you have saved up for the item currently?</p>
			<input name=d type="text">
		</div>
	<input id=btn type="submit">Submit</input>
</form>




</body>
</html>