<html>
<head>
<link rel = "stylesheet" type="text/css" href="resources/stylish.css">
<title>Profile</title>
</head>
<body>
<h1>Profile</h1>
<h1>Name</h1> <label></label>
<input type = "text"
                 id = "myText"
                 value = "" />

<h1>Email</h1> <label></label>
<font size="+2"> {{email}}</font>

<h1>Number</h1> <label></label>
<input type = "text"
                 id = "myText"
                 value = "" />

<p>
<a href="page2.html" target="_self">Link to page 2</a>
</p>
<style>
body{
	background-image: url('http://gifgifs.com/animations/other-animations/money/animated-money-falling.gif');
background-size: cover;
color: red;
}

<style>
</body>

</html>
