
<html>
<head>
<link rel = "stylesheet" type="text/css" href="resources/stylish.css">
<title>Profile</title>
</head>
<body>
<h1><center>Profile<center></h1>
<h1><center><center></h1> <label></label>
<!-- <center><input type = "text"
                 id = "myText"
                 value = "" /><center> -->

<h1><center>Email<center></h1> <label></label>
<center><font size="+7"> {{email}}</font></center>

<!-- <h1>Number of projects</h1> <label></label>
<input type = "text"
                 id = "myText"
                 value = "" /> -->

<p>
<center><a href="/progress" target="_self"><font size="+7">Progress Page</font></a></center>
</p>
<style>
body{
	background-image: url('http://gifgifs.com/animations/other-animations/money/animated-money-falling.gif');
background-size: cover;
color: red;
}

<style>
</body>

</html>
