<!DOCTYPE html>


<html>
<head>
	<link rel="stylesheet" type="text/css" href="/resources/style.css">
	<script src="resources/money.js"></script>
	<title>{{ title }}</title>
</head>


<title>{{ title }}</title>
<body>
<h1><u>Save It the Right Way</u></h1>


<img id="money" src="http://bestanimations.com/Money/money-animated-gif-4.gif"> 


<h1><u>Getting Stared</u></h1>
<!-- {{ content }} -->
	<div id=gettingStarted>
		<p>1. Upload any item of your choice that you would like to save up to, and how much the item costs.</p>
		<input id=a type="text">
		<p>2. How long do you plan on saving up for the intended item.</p>
		<input id=b type="text">
		<p>3. On estimate, how much money do you make each month, and how much of that do you spend?</p>
		<input id=c type="text">
		<p>4. How much money do you have saved up for the item currently?</p>
		<input id=d type="text">
	</div>
	<button id=btn type="Submit">Submit</button>
</body>
</html>