<!DOCTYPE html>
<html>
	<head>
				
			<link rel="stylesheet" type="text/css" href="resources/track.css">
	<head>
		
<script></script>
<h1>$ave Up That Money$</h1>
<body>
				<div id =tracking_pages>
					<a href="/progress"><button>TrackingItem</button></a>
					<button id= friendProgress>View other progress</button>
					<button id= friends>Friend List</button>
					<a href="/profile"><button >Profile</button></a>
				</div>

<p>{{totalCost}}</p>
<input id="amount"></input>
<button id="add">Add</button>
<button id="subtract">Subtract</button>



</style>
</head>

<h2 style="text-align:center">User</h2>

<div class="card">
<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/163921-200.png" alt="JayBee" style="width:35%">
<div class="container">
<h3> Jayda Janae </h3>
<p class="title">Graphic Designer</p>
<p>Hampton University</p>
<div style="margin: 20px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a>  
      <a href="#"><i class="fa fa-linkedin"></i></a>  
      <a href="#"><i class="fa fa-facebook"></i></a> 
   </div>
   <p><button>Add As Friend</button></p>
   </div>
   </div>
   </body>




{{totalCost}}

</body>

</html>